*.class
*.tlog
*.idb
*.svg
*.db
*.ipch
*.iobj
*.ipdb
*.opendb
*.db-shm
*.db-wal
*.exp
*.tmp
*.rc
ppr/TBB/
VSS/Semestralni prace/JSim-0.6.0/Documentation/API/constant-values.html
VSS/Semestralni prace/JSim-0.6.0/
